/* === Fonts === */
@font-face {
    font-family: 'AcromRegular';
    src: local('AcromRegular'), url(acromregular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AcromMedium';
    src: local('AcromMedium'), url(acrommedium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AcromBold';
    src: local('AcromBold'), url(acrombold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratRegular';
    src: local('MontserratRegular'),
    url(Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
    url(Montserrat-Regular.woff2) format('woff2'),
    url(Montserrat-Regular.woff) format('woff'),
    url(Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratMedium';
    src: local('MontserratMedium'),
    url(Montserrat-Medium.eot?#iefix) format('embedded-opentype'),
    url(Montserrat-Medium.woff2) format('woff2'),
    url(Montserrat-Medium.woff) format('woff'),
    url(Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: local('MontserratBold'),
    url(Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(Montserrat-SemiBold.woff2) format('woff2'),
    url(Montserrat-SemiBold.woff) format('woff'),
    url(Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: local('Roboto'), local('RobotoRegular'), url(roboto.eot?#iefix) format("embedded-opentype"), url(roboto.woff) format('woff'), url(roboto.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: local('Roboto Medium'), local('RobotoMedium'), url(robotomedium.eot?#iefix) format("embedded-opentype"), url(robotomedium.woff) format('woff'), url(robotomedium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: local('Roboto Bold'), local('RobotoBold'),  url(robotobold.eot?#iefix) format("embedded-opentype"),url(robotobold.woff) format('woff'), url(robotobold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url(Pacifico.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: local('OpenSansLight'),
    url(OpenSans-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: local('OpenSansRegular'),
    url(OpenSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: local('OpenSansBold'),
    url(OpenSans-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'AmaticRegular';
    src: local('AmaticRegular'),
    url(Amatic-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AmaticBold';
    src: local('AmaticBold'),
    url(Amatic-Bold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ComicRegular';
    src: local('AmaticRegular'),
    url(comicregular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ComicBold';
    src: local('AmaticBold'), url(comicbold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
